body {
    background: #EAEAEA;
    color: #4D4D4D;
    font: 14px/1.4em 'Helvetica Neue',Helvetica,Arial,sans-serif;
}

#todoapp {
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.9);
    border: 1px solid #CCCCCC;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.15);
    margin: 130px auto 0;
    width: 550px;
    position: relative;
}

#todoapp:before {
    border-left: 1px solid #F5D6D6;
    border-right: 1px solid #F5D6D6;
    content: "";
    height: 100%;
    left: 40px;
    position: absolute;
    top: 0;
    width: 2px;
}


#header:before {
    background: -moz-linear-gradient(center top , rgba(132, 110, 100, 0.8), rgba(101, 84, 76, 0.8)) repeat scroll 0 0 transparent;
    border-bottom: 1px solid #6C615C;
    border-top-left-radius: 1px;
    border-top-right-radius: 1px;
    content: "";
    height: 15px;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 2;
}

#header {
    border-radius: inherit;
    padding-top: 15px;
}


#todoapp h1 {
    color: rgba(255, 255, 255, 0.3);
    font-size: 70px;
    font-weight: bold;
    position: absolute;
    text-align: center;
    text-rendering: optimizelegibility;
    text-shadow: -1px -1px rgba(0, 0, 0, 0.2);
    top: -60px;
    width: 100%;
}

#new-todo {
    -moz-box-sizing: border-box;
    border: 1px solid #999999;
    box-shadow: 0 -1px 5px 0 rgba(0, 0, 0, 0.2) inset;
    color: inherit;
    font-family: inherit;
    font-size: 24px;
    line-height: 1.4em;
    margin: 0;
    outline: medium none;
    padding: 6px;
    position: relative;
    width: 100%;
}

#new-todo {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.02);
    border: medium none;
    box-shadow: none;
    padding: 16px 16px 16px 60px;
    z-index: 2;
}

#todoapp input::-moz-placeholder {
    color: #A9A9A9;
    font-style: italic;
}

#main {
    border-top: 1px dotted #ADADAD;
    position: relative;
    z-index: 2;
}

#todo-list {
    list-style: none outside none;
    margin: 0;
    padding: 0;
}
